blinker==1.6.2
certifi==2024.7.4
charset-normalizer==2.1.0
click==8.1.3
Flask==2.3.3
gunicorn==22.0.0
idna==3.7
importlib-metadata==6.6.0
itsdangerous==2.1.2
Jinja2==3.1.5
lxml==4.9.3
MarkupSafe==2.1.1
packaging==24.2
pylibmc==1.6.3
requests==2.32.0
setuptools==70.0.0
urllib3==1.26.19
Werkzeug==3.0.6
zipp==3.19.1
