<!DOCTYPE html>
<html>
<head>
  <title>PACER Court software versions</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>
<h1>PACER court software versions</h1>
<div class="intro">
  <p>
    This is a list of reported software versions for the electronic filing
    (<a href="https://www.pacer.gov/">PACER</a>) systems of various US courts.
  </p>
  <p>
    The records are
    <a href="https://en.wikipedia.org/wiki/Web_scraping">scraped</a> daily. 
    There is also a <a href="/courts.json">JSON feed</a> of the data available.
  </p>
  <p>
    The scraper and the source for this website was written by
    <a href="http://twitter.com/audiodude">Travis Briggs</a> in Python and is
    <a href="https://github.com/audiodude/court-version-scraper">available on
    GitHub</a>. Pull requests welcome!
  </p>
</div>
  {% for name, group in all_courts.items() %}
    <table id="court-{{ group['id'] }}">
      <th class="court-type" colspan="3">{{ name }}</th>
      <tr>
        <th>Court</th>
        <th>Software version</th>
        <th>Software Go Live Date</th>
      </tr>
      {% for court in group['courts'] %}
        <tr>
          <td class="court-name">
            <a href ="{{ court['court_link'] }}">
              {{ court['court'] }}
            </a>
          </td>
          <td class="software-version">
            {% if court['software_version'] %}
            <a href="{{ court['info_link'] }}">
              {{ court['software_version'] }}
            </a>
            {% else %}
            --
            {% endif %}
          </td>
          <td class="software-go-live">
            {% if court['software_go_live'] %}
            <a href="{{ court['info_link'] }}">
              {{ court['software_go_live'] }}
            </a>
            {% else %}
            --
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endfor %}
</body>
